@import "./app/styles/_variables.scss";

label {
  font-family: Robo;
}

.body {
  display: flex;
  height: calc(100% - 64px - 64px);
  padding: 1rem;
  flex-direction: column;
  overflow: auto;

  .claim-quests {
    height: 100%;
    border: 2px solid $border_color_claim_quests_1;
    border-radius: 18px;
    background-color: $bg_1;
    box-shadow: 0px 3px 3px $border_color_claim_quests_1 !important;
  }

  .quest-center-title {
    display: flex;
    height: 8.5rem;
    background: $bg_quest_title;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    align-items: center;
    justify-content: center;

    .quest-center-left-area {
      width: 60%;
      padding-left: 2rem;

      .title {
        color: $text_color_2;
        font-size: 24px;
      }

      .description {
        color: $text_color_2;
        font-size: 11px;
      }
    }
    .quest-center-right-area {
      width: 40%;
      display: flex;
      justify-content: center;
      padding-right: 1rem;
  
      img {
        object-fit: contain;
      }
    }
  }
}

.quest-tabs {
  grid-template-columns: repeat(auto-fill, minmax(60px, 150px));
  align-items: flex-start !important;

  input {
    height: 3rem;
  }
}

.bottom-nav {
  background-color: $bg_1 !important;

  button {
    background-color: $bg_1 !important;
  }

  span {
    font-size: 14px;
    color: #999999;
    font-weight: 600;
  }
}

.navbar {
  background-color: $bg_1 !important;
  border-bottom: 2px solid #E5E5E5;
}
